.container {
    background-color: black;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    display: flex;
    justify-content: center;
}

.typewriter h1 {
    color: #fff;
    font-family: 'VT323', monospace;
    overflow: hidden;
    border-right: 1em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .5em;
    animation:
        typing 4s steps(14, end),
        blink-caret .7s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange
    }
}